<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rover Dog Sitters</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/style.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/search.js"></script>
</head>
<body>
    <div class="header">
        <img src="images/logo.png" class="logo" alt="Rover logo">
    </div>
    <div class="main">
        <div id="filters">
            <span class="filter-header">Minimum Rating Score</span>
            <span class="filter-item">
                <label> <input class="filter" id="checkbox-5" type="checkbox" onclick="filter(5)"> <span class="stars star5"></span> </label>
            </span>
            <span class="filter-item">
                <label> <input class="filter" id="checkbox-4" type="checkbox" onclick="filter(4)"> <span class="stars star4"></span> </label>
            </span>
            <span class="filter-item">
                <label> <input class="filter" id="checkbox-3" type="checkbox" onclick="filter(3)"> <span class="stars star3"></span> </label>
            </span>
            <span class="filter-item">
                <label> <input class="filter" id="checkbox-2" type="checkbox" onclick="filter(2)"> <span class="stars star2"></span> </label>
            </span>
            <span class="filter-item">
                <label> <input class="filter" id="checkbox-1" type="checkbox" onclick="filter(1)"> <span class="stars star1"></span> </label>
            </span>
        </div>
        <div id="results"></div>
    </div>
</body>
</html>